/*
Theme Name:  Kalles-child
Theme URL:   https://kalles.the4.co/demo/fashion/
Description: The best woocommerce theme for online fashion store, personal blog.
Author:      The4
Author URL:  https://the4.co
Template:    kalles
Version:     1.0.0
*/
@media screen and (max-width: 750px){
#__replain_widget {
    inset: auto 0px 50px auto !important;
    height: 60% !important;
}
}
.dop-address{
    display: flex;
    flex-wrap: wrap;
}

.cart-opened .the4-mini-cart{
	z-index: 500000000000000000 !important;
}

.dop-address>.input-text{
    width: 48% !important;
    margin: 0 2% 15px !important;
}

.dop-address>.input-text:first-child{
    margin-left: 0 !important;
}

.dop-address>.input-text:nth-child(2){
    margin-right: 0 !important;
}

.dop-address>.input-text:nth-child(3){
    margin-left: 0 !important;
}

.dop-address>.input-text:last-child{
    margin-right: 0 !important;
}

ins .woocommerce-Price-amount.amount{
    font-weight: 700;
}

.wrap_filter{
    display: flex;
    flex-direction: column-reverse;
}

.wrap_filter .widget-title>span{
    text-transform: lowercase !important;
}

.cat_toolbar.al_center{
    flex-direction: row-reverse;
}

.cat_sortby.cat_sortby_js.tr.dn.db_lg.col{
    text-align: left;
}

.wrap_sortby{
    left: 0;
    right: auto;
}

a.filter-trigger.mr__50.btn_filter.js_filter.mgr.sidebar{
    margin-right: 0;
}

.cat_filter.col{
    text-align: right;
}

.head-meta.pr.mt__5{
    display: none;
}

.flex.between-xs.tag-comment.mt__40{
    display: none;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: #fff;
}

body::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #7188a2;
}

input {
    font-family: 'Fira Sans' !important;
}

#the4-content{
    min-height: auto !important;
}

.hover_style_2 .product.default .hover_button .ttip_nt .tt_txt{
    background: #00b1e3;
    color: #fff;
}

.hover_style_2 .product.default .hover_button .tt_txt:before{
    border-top-color: #00b1e3;
}

.menu-item:not(.menu-item-has-children)>.kalles-nav-link::after{
    content: none !important;
}

.remove>svg{
    width: 18px;
}

.cart_totals .shop_table tr.shipping th{
	color: #111 !important;
}

.order-total th, .order-total td{
	color: #111 !important;
}

.stock.in-stock{
    color: #109533;
}

.product-extra .the4-section-title{
    font-size: 20px;
}

.filter-sidebar .widget-title{
    color: #111;
}

.filter-sidebar .widget-title{
    color: #111;
}

.edit-account #user_phone, .edit-account #account_display_name{
    cursor: not-allowed;
    opacity: 0.9;
    background: #e5e5e5;
}

.swatch.is-label.rounded .swatch__list--item{
    border-radius: 0 !important;
}

.title_3::after{
    background-color: #7188a2 !important;
}

.content-quickview{
	padding: 20px !important;
}

.the4-search-results .woocommerce-Price-amount.amount{
	margin-right: 3px;
}

.postid-36675 .btn-37816, .postid-38115 .btn-38058{
	display: none !important;
}

.woocommerce-error>li>a{
	padding: 0;
    background: none;
    color: #a94442;
    font-weight: 700;
    height: auto;
    line-height: initial;
    margin-top: 5px;
}

.woocommerce-error>li>a:hover{
	background: none;
	color: #000;
}

.mini-sale{
	margin-bottom: 10px;
    text-align: right;
	color: red;
	font-size: 14px;
}

.cart_totals .order-total{
    display: none;
}

.cart1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    color: #000;
    font-weight: 700;
    margin-bottom: 20px;
}

.cart1-title{
    line-height: 22px;
}

.cart1-title.lt{
    text-decoration: line-through;
}

.cart2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: #878787;
    font-weight: 400;
    margin-bottom: 10px;
}

.cart_totals .wc-proceed-to-checkout a{
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    font-size: 16px;
}

.cart-collaterals{
    padding: 25px;
    background: #fff;
    box-shadow: 0 0 8px rgb(0 0 0 / 15%);
}

.card-form-add-form-input{
    width: 100%;
    border-radius: 5px !important;
}

.card-form-add-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.card-form-add-head-title{
    color: #000;
    font-size: 20px;
    font-weight: 700;
}

.card-form-add-top{
    margin-bottom: 20px;
}

.card-form-add-form-cc{
    width: 100%;
}

.card-form-add-center{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.card-form-add-conf{
    display: flex;
    align-items: center;
}

.card-form-add-form-ex{
    width: 25%;
}

.card-form-add-center-phone{
    width: calc(75% - 25px);
    margin-left: 25px;
}

.card-form-add-bottom{
    width: 100%;
}

.card-form-add-bottom>button{
    width: 100%;
}

.card-form-add-conf-code{
    width: calc(75% - 25px);
    margin-right: 25px;
}

.card-form-add-conf-button{
    width: 25%;
}

.card-form-add-conf-button>button{
    width: 100%;
}

.card-form-add-confirm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-form-add-confirm>p{
    color: #000;
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
}

.card-form-add[data-step="create"] .verify, .card-form-add[data-step="create"] .confirm{
    display: none;
}

.card-form-add[data-step="create"] .create{
    display: flex;
}

.card-form-add[data-step="verify"] .create, .card-form-add[data-step="verify"] .confirm{
    display: none;
}

.card-form-add[data-step="verify"] .verify{
    display: flex;
}

.card-form-add[data-step="confirm"] .create, .card-form-add[data-step="confirm"] .verify{
    display: none;
}

.card-form-add[data-step="confirm"] .confirm{
    display: flex;
}

.card-form-add-confirm-buttons{
    display: flex;
    align-items: center;
}

.card-form-add-confirm-buttons>a{
    margin: 0 10px;
    background: #00b1e3;
    color: #fff;
    padding: 0 34px;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    height: 40px;
    line-height: 40px;
}

.wc-item-meta>li>p{
    margin-bottom: 0;
}

.woocommerce-MyAccount-navigation-link--payment-methods a::before {
    content: "\e945" !important;
}
.polytic-check{
display:none;
}
.send-code-via-sms .polytic-check{
display:block;
}
.not-registered .polytic-check {
    display: block !important;
}
.auth-title{
    text-align: center;
}
.auth-conf-timer, .auth-repeat{
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
    line-height: 25px;
}
.auth-repeat{
    cursor: pointer;
}
.auth-conf-timer>img{
    margin-right: 5px;
    height: 20px;
}